
body {
    font-size: 70px;;
    text-align: center;
    font-family: 'Consolas';
    background-color: darkgreen;

}

button {
    font-size: 40px;
    width: 40%;
    font-family: 'Consolas';
}

.main {
    margin: auto;
    width: 50%;
    height: 50%;
    border: 3px solid rgb(12, 238, 12);
    padding: 10px;
    background-color:rgb(208, 208, 208)
}

#guess {
    font-size: 60px;
}

.version2 {
    color:lightblue;
    margin: auto;
    width: 50%;
    height: 50%;
    border: 3px solid rgb(238, 12, 12);
    padding: 10px;
    background-color:rgba(49, 49, 49, 0.831)
}

#guessInput {
    font-size: 40px;
    width: 80%;
}